@font-face {
  font-family: Cattedrale;
  src: url(assets/webfonts/Cattedrale-Regular.ttf);
}

#header > h1 {
  font-family: Cattedrale;
}

.tab-header {
  font-family: Cattedrale;
  font-size: 3em;
}

.modal-content {
  background-color: black;

  border-radius: 1rem;
  color: #f8f8f2;
}

.modal-body {
  overflow-y: auto;
}

.modal-header {
  border-bottom: 0px;
}

.tabs ul {
  border-bottom: none;
}

.tabs a {
  color: #f8f8f2;

  border-color: #f8f8f2;
  width: 100%;
}

.tabs a:hover {
  color: #8be9fd;
  border-color: #8be9fd;
}

.tabs {
  width: 100%;
  border-bottom: 1px thick red;
  align-content: flex-start;
}

img {
  height: 100%;
}

#button {
  z-index: 5;
  padding: 2.25em 2.25em 1em 2.25em;
  position: fixed;
  bottom: 0px;
  right: 3vw;
  left: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#button > button {
  margin-bottom: 5vh;
}

.button.is-focused, .button:focus {
	color:#f8f8f2;
}

#thumbnails > article {
  background-color: transparent;
}
.thumbnail {
  height: 100%;
}
.thumbnail > img {
  background-color: transparent;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tabs ul {
  width: 100%;
  justify-content: center;
}
